body {
    margin: 0;
    font-family: Arial;
    background-color: #f4f4f4;
}

header {
    background: #2b5825;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

section {
    padding: 40px 20px;
    text-align: center;
}

h2 {
    color: #2b5825;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 8px;
}

.project-card {
    background: white;
    margin: 15px auto;
    padding: 20px;
    width: 60%;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

footer {
    background: #2b5825;
    color: white;
    padding: 15px;
    text-align: center;
}
